.about{
	text-align: center;
	font-size: 30px;
}

.about_start{
	position: relative;
	left: -250px;
}

.name{
	position:relative;
	left: -25px;
}

.ruby{
	position: relative;
	left: 20px;
}

.python{
	position: relative;
	left: 33px;
}

.perl{
	position: relative;
	left: 8px;
}

.langend{
	position: relative;
	left: -20px;
}

.like{
	position: relative;
	left: -25px;
}

.boc{
	position: relative;
	left:140px;
}

.anime{
	position: relative;
	left: 60px;
}

.likeend{
	position: relative;
	left: -10px;
}

.about_end{
	position: relative;
	left: -245px;
}
