.link{
    text-align: center;
    font-size: 30px;
}

.link_github{
    position: relative;
    top:100px;
}

.link_twitter{
    position: relative;
    top:150px;
}

.twitterlogo{
    position: relative;
    top:25px;
    width: 5%;
    height: 5%;
}

.githublogo{
    position: relative;
    top:10px;
    left:-15px;
    width: 5%;
    height: 5%;
}

a{
    color:#233445;
}
